/* Register form */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  
}

.form-element {
  padding: 10px;
}

.input {
  padding: 5px;
  border-style: hidden hidden solid hidden;
}

.input:focus {
  outline: none;
}

.btn {
  width: 100px;
  border-style: hidden;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  background-color: red;
}

.btn:hover {
  background-color: rgb(172, 0, 0);
}


/* Navbar */

.navbar li {
  list-style: none;
  padding: 30px;
}

.navbar li a {
  text-decoration: none;
  color: red;
  font-weight: bold;
  font-size: 1.3em;
}

.navbar {
  display: flex;
  position: relative;
  left: 35%;
}

.navbar-container {
  display: flex;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.947);
  width: 100%;
  top: 0;
}


/* Question form */

.question-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 300px;
}


/* Card styles */

.profile-question-container {
  margin-top: 200px;
  border: 1px solid rgb(216, 215, 215);
  padding: 10px;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}

.card-container {
  border: 1px solid rgb(216, 215, 215);
  padding: 20px;
  margin: 10px;
}

/* Question styles */

.question-container {
  margin-top: 150px;
  border: 1px solid rgb(214, 214, 214);
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
}


/* Utility classes */

.ml-30 {
  margin-left: 30px;
}

.ml-10 {
  margin-left: 10px;
}